body {
  margin: 0px !important;
  background-color: #222 !important;
}

#landing-logo {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 2;
}

#album-view {
  background-color: #222
}

.clear {
  margin-top: 60px;
}

#album-nav-pane {
  background-color: #222;
  position: absolute;
  top: 0px;
  width  : 100% !important;
  height: 40px !important;
  z-index: 2;
  padding-top: 10px;
}

#cover-page {
  background: rgba(80, 80, 80, 0.7) !important;
}

#create-new-album {
  position: absolute;
  right: 20px;
}

#album-list {
  left: 20px;
  position: absolute;
}

#gallery-container {
  position: fixed;
  top: 50px;
}

#logo-img {
  text-align: center;
}

input[type="file"] {
height: 28px !important;
line-height: 22px !important;
}

#upload-file-preview img {
  height: 100px !important;
  margin: 2px;
}

.plupload_start{
  display: none !important;
}

.hp-image-thumb>img{
  border: 5px;
  height: 200px;
  width: auto;
}

#showcase-background{
  top: 60px;
}

#album-title {
  text-align: center;
  font-family: 'Niconne', cursive;
  font-size: 45px;
  color: white;
  margin-top: 5px;
}

.hp-album-name {
  cursor: pointer;
}

@font-face {
  font-family: 'to_be_continuedregular';
  src: url('/static/fonts/to_be_continued-webfont.eot');
  src: url('/static/fonts/to_be_continued-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/to_be_continued-webfont.woff') format('woff'),
       url('/static/fonts/to_be_continued-webfont.ttf') format('truetype'),
       url('/static/fonts/to_be_continued-webfont.svg#to_be_continuedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'amsterdam_graffitiregular';
  src: url('/static/fonts/amsterdam-webfont.eot');
  src: url('/static/fonts/amsterdam-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/amsterdam-webfont.woff') format('woff'),
       url('/static/fonts/amsterdam-webfont.ttf') format('truetype'),
       url('/static/fonts/amsterdam-webfont.svg#amsterdam_graffitiregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

#landing-title {
  color: #F2F2F2;
  font-family: 'to_be_continuedregular';
  font-size: 75px;
  font-style: italic;
  text-shadow: 0px 0px 10px #0000FF;
  text-align: center;
  margin-top: 5%;
  position: relative;
}

#about-me {
  background-color: #555 !important;
  color: white;
}

._51mw {
  color: white !important;
}
