<div id="about" class="infopage">
  <div id="titlecard">
        <img class="avatar" src="https://farm4.staticflickr.com/3906/14444985546_2644308e1f_q.jpg" alt="Bhavesh Nigam">
    <h1> Bhavesh Nigam </h1>
    <br/>
      <iframe src="//www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fwww.facebook.com%2Fbhavesh.nigam&amp;width&amp;height=21&amp;colorscheme=light&amp;layout=button_count&amp;show_faces=true&amp;appId=377110705759444" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
      <br/>
      <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fbhavesh.nigam&amp;width&amp;layout=button_count&amp;action=recommend&amp;show_faces=true&amp;share=true&amp;height=21&amp;appId=377110705759444" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
  </div>
  <div class="leftcolumn">
      <h3>About</h3>
      <p>Hash PhotoWorks was founded by Bhavesh Nigam, an Engineer who lives in Heart
      of New Delhi, India. He had been shooting since late 2012 when he found his first
      semi-professional camera amusing.</p>
      <p>His first camera was a Nikon D5100, which he instantly fell in love with. </p>
      <p>He now uses Nikon D5100 with a number of primes for his Photography along with
      smartphones (Moto G and Xperia Sola), actively posting to <a href="http://instagram.com/bhaveshnigam27"
      target="_blank">Instagram</a>.</p>
      <p>He worked with #1 Software company as a developer where he develops industry leading products for web. He&rsquo;s Senior developer and helps develop web technologies that become buzz words on the internet industry.</p>
      <p>For shoots &amp; pricing, kindly use the information below.</p>
      <h3>Contact</h3>
        <ul class="contactinfo">
        <li>
    Call: +91-9911856965
    </li>
            <li>
              <a href="mailto:bhavesh.nigam@yahoo.com" target="_blank">
                <img src="https://pxportfolios.s3.amazonaws.com/themes/126/main/assets/51e43886c030b7396a000289/icon_email.png" height="20px">bhavesh.nigam@yahoo.com
              </a>
            </li>
            <li>
              <a href="http://hash-photoworks.appspot.com" target="_blank">
                <img src="https://pxportfolios.s3.amazonaws.com/themes/126/main/assets/51e4388685692583ea00055d/icon_website.png" height="20px">hash-photoworks.appspot.com
              </a>
            </li>
            <li>
              <a href="https://twitter.com/bigbhandtheory" target="_blank">
                <img src="https://pxportfolios.s3.amazonaws.com/themes/126/main/assets/51e43886c030b7b27b00011c/icon_twitter.png" height="20px">@bigbhandtheory
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/bhavesh.nigam" target="_blank">
                <img src="https://pxportfolios.s3.amazonaws.com/themes/126/main/assets/51e43886856925710a0003eb/icon_facebook.png" height="20px">facebook.com/bhavesh.nigam
              </a>
            </li>

          <li>
         <style>.ig-b- { display: inline-block; }
          .ig-b- img { visibility: hidden; }
          .ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
          .ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
          @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
          .ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }</style>
          <a href="http://instagram.com/bhaveshnigam27?ref=badge" class="ig-b- ig-b-v-24"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a>
          </li>
        </ul>
  </div>
  <div class="rightcolumn">
  </div>
</div>