 <ul>

  <li class="step">
    <div id='album-nav-pane' class='fixed'>
        <div id='album-list' class='btn-group'>
          <button class='btn dropdown-toggle' data-toggle='dropdown' id='hp-selected-album'>
            Albums <span class='caret'></span>
          </button>
          <ul class='dropdown-menu'>
            {% for album in albums %}
            <li> <a class='text-center hp-album-name' value='{{ album.id }}'>{{ album.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% if is_admin %}
        <!-- Button to trigger modal -->
        <a id='create-new-album' href='#myModal' role='button' class='btn' data-toggle='modal' onclick='initiateUploader();'>Create a New Album</a>
      {% endif %}
      <div id='album-title'>{{album_title}}</div>
    </div>
  </li>

    <li class="step">
      <div class="clear"></div>
    </li>

    <li class="step">
      <div class="gallery-view-inner">
      <div id='test-gallery'>
        {% for image in showcased_images %}
            <a href='{{ image.image_url }}' title='{{ image.image_name }}' data-lightbox= '{{ album_title }}'><img src='{{ image.image_url }}'/></a>
        {% endfor %}
      </div>
    </div>
    </li>

 </ul>