<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - #PhotoWorks</title>
    <link href='//fonts.googleapis.com/css?family=Niconne' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:300italic,700italic' rel='stylesheet' type='text/css'>
    <style type="text/css">@import url(/static/stylesheets/plupload.queue.css);</style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
   <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-50448234-1', 'hash-photoworks.appspot.com');
      var dimensionValue = 'bnigam';
      ga('require', 'displayfeatures');
      ga('set', 'dimension1', dimensionValue);
      ga('send', 'pageview');
  </script>
  <script type="text/javascript">
      var matched, browser;

    jQuery.uaMatch = function( ua ) {
        ua = ua.toLowerCase();

        var match = /(chrome)[ \/]([\w.]+)/.exec( ua ) ||
            /(webkit)[ \/]([\w.]+)/.exec( ua ) ||
            /(opera)(?:.*version|)[ \/]([\w.]+)/.exec( ua ) ||
            /(msie) ([\w.]+)/.exec( ua ) ||
            ua.indexOf("compatible") < 0 && /(mozilla)(?:.*? rv:([\w.]+)|)/.exec( ua ) ||
            [];

        return {
            browser: match[ 1 ] || "",
            version: match[ 2 ] || "0"
        };
    };

    matched = jQuery.uaMatch( navigator.userAgent );
    browser = {};

    if ( matched.browser ) {
        browser[ matched.browser ] = true;
        browser.version = matched.version;
    }

    // Chrome is Webkit, but Webkit is also Safari.
    if ( browser.chrome ) {
        browser.webkit = true;
    } else if ( browser.webkit ) {
        browser.safari = true;
    }

    jQuery.browser = browser;
  </script>

    <link href="static/stylesheets/bootstrap.css" rel="stylesheet"/>
    <link href="static/stylesheets/bootstrap-responsive.css" rel="stylesheet"/>
    <link href="static/stylesheets/common.css" rel="stylesheet"/>
    <link href="static/stylesheets/theme.css" rel="stylesheet"/>
    <link href="static/stylesheets/portfolios-css-reset.css" rel="stylesheet"/>
    <link href="static/stylesheets/jquery.galleryview-3.0-dev.css" rel="stylesheet"/>
    <link rel="stylesheet" href="static/stylesheets/curtain.css">
    <link rel="stylesheet" href="/static/stylesheets/lightbox.css">
    <link rel='stylesheet' href='/static/stylesheets/justifiedGallery.css' type='text/css' media='all' />
    <script src="static/javascript/bootstrap.min.js"></script>
    <script src="static/javascript/base.js"></script>
    <script src="static/javascript/jquery.easing.1.3.js"></script>
    <script src="static/javascript/jquery.timers-1.2.js"></script>
    <script src="static/javascript/jquery.galleryview-3.0-dev.js"></script>
    <script type="text/javascript" src="/static/javascript/curtain.js"></script>
    <script type="text/javascript" src="/static/plupload/plupload.full.min.js"></script>
    <script type="text/javascript" src="/static/plupload/plupload.html5.min.js"></script>
    <script type="text/javascript" src="/static/plupload/jquery.plupload.queue.min.js"></script>
    <script src='/static/javascript/justifiedGallery.js'></script>
    <script src="/static/javascript/lightbox.js"></script>

    {% block css %}
    {% endblock %}

    {% block preload_js %}
    {% endblock %}

    {% block extra_head %}{% endblock %}
  </head>

  <body>
    {% block header %}
    {% endblock %}
    <div class="columns">
      <div id="content" class="column">
        {% block content_header %}
          {% if error %}<div class="error">{{ error }}</div>{% endif %}
          {% if info %}<div class="info">{{ info }}</div>{% endif %}
          {% if messages %}
            {% for message in messages %}
              <div class="info">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endblock %}

        {% block content %}{% endblock %}
      </div>

      <div id="sidebar" class="column">
        {% block sidebar %}
        {% endblock %}
      </div>
    </div>

    {% block footer%}
    {% endblock%}
    {% block js %}
    {% endblock %}
    {% block facebook_code %}

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {$('#'+id).remove()};
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=377110705759444";
      fjs.parentNode.appendChild(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    {% endblock %}

  </body>
</html>
