{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

{% include 'modal.html' %}

<ol class="curtains">
  <li id="cover-page" class="cover">
    <div id="landing-logo">
      <div id="hp-nav-top"></div>
        <div id="logo-img">
          <img src="static/images/logo.gif" align="middle"/>
        </div>
        <div id="landing-title" > HASH PHOTOWORKS </div>
    </div>
  </li>

  <li id="album-view">
    {% include 'album_view.html' %}
  </li>

  <li id="about-me">
      {% include 'about_me.html' %}
  </li>
</ol>

{% endblock %}


{% block js %}
<script type="text/javascript">
  reAlignHeaderImage();
  bindEvents();
  $(document).ready(function () {
      $("#test-gallery").justifiedGallery();
    $(function() {
      $('#cover-page').css('background-color', 'rgba(0,0,0,0.6)');
    });
    $(function(){
      $('.curtains').curtain({
         scrollSpeed: 100,
         controls: '.menu',
         curtainLinks: '.curtain-links'
      });
    });
  });
</script>
{% endblock %}
