
  <!-- Create new album Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Create a new album</h4>
  </div>
  <div class="modal-body">
    <form id="create-album-form">
      <div>
        <span class="lead">Name:  </span>
        <input id="album-name" style="display:inline;" class="input-large" type="text" name="name" required="required">
      </div>
      <div id="uploader"></div>
    </form>
  </div>
  <div class="modal-footer">
    <button id="cancel-album-create" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id="create-album-btn" disabled type="submit">Create</button>
  </div>
</div>


  <!-- Add Photos to album Modal -->
<div id="addPhotos" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addPhotosLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="addPhotosLabel">Add Photos</h4>
  </div>
  <div class="modal-body">
    <form id="add-photos-form">
      <div>
        <span class="lead">Name:  </span>
        <input id="album-name" style="display:inline;" class="input-large" type="text" name="name" value="{{ album_title }}" disabled="disabled">
      </div>
      <div id="uploader"></div>
    </form>
  </div>
  <div class="modal-footer">
    <button id="cancel-add-photos" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id="add-photos-btn" disabled type="submit">Add</button>
  </div>
</div>